.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(150, 206, 237);
  height: 50px;
  align-items: center;
  margin-top: 10px;
}

.logo {
  width: 100px;
  height: 78px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding-left: 15px;
  font-size: 20px;
  font-weight: 100;
}

.footer > ul {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgb(150, 206, 237);
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.footer > ul > li {
  padding-left: 15px;
  font-size: 20px;
}

.search-container > input {
  width: 700px;
  height: 30px;
  font-size: 16px;
  margin: 10px 0 10px 400px;
}

.search-input {
  padding-left: 10px;
}

.search-btn {
  width: 100px;
  height: 30px;
  background-color: rgb(198, 237, 239);
  border-radius: 5px;
  margin-left: 10px;
  font-size: 16px;
}

.card {
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(218, 240, 243);
}

.card > img {
  width: 100%;
}

.resturant-list {
  display: flex;
  flex-wrap: wrap;
}
.shimmer {
  margin: 15px;
  padding: 15px;
  width: 220px;
  height: 320px;
  background-color: lightgray;
  border: 1px solid rgb(199, 195, 195);
}
.shimmer-container {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
}
.menu{
  display: flex;
}
